
<form method="post" action="/enter">
    <div>
        <div class="edit">
            <div class="edit_11">
                <label for="name">login</label>
            </div>
            <div class="edit_22">
                <input type="text" name="name" id="name">
            </div>
        </div>
        
        <div class="edit">
            <div class="edit_11">
                <label for="pass">password</label>
            </div>
            <div class="edit_22">
                <input type="password" name="pass" id="pass">
            </div>
            
        </div>
        <input type="submit" name="submit">
    </div>
   
</form>