<form method="GET" action="">
    <div style="display: flex; gap:10px">
        <div>
            <div>
                 <label for="edit">Редактировать фильм</label>
            </div>
            <div>
                <input type="submit" name="edit" value="edit">
            </div>
        </div>
        <div>
            <div>
                <label for="del">Удалить фильм</label>
            </div>
            <div>
                <input type="submit" name="del" value="del">
            </div>
        </div>
        <div>
            <div>
                <label for="add">Добавить фильм</label>
            </div>
            <div>
                <input type="submit" name="add" value="add">
            </div>
            
        </div>
    </div>

</form>
