<div class="wrapper-footer">
    <div>
        <div>
            <span>
                В этом разделе можно смотреть онлайн комедии – мы постарались собрать для вас самые лучшие, интересные и смешные фильмы. 
                Раздел постоянно пополняется, добавляются <a href="#">новые фильмы</a> . Наша команда отслеживает все интересные новинки, 
                регулярно обновляя комедии и их качество. У нас можно все комедии смотреть бесплатно и в неограниченных количествах.
            </span>
        </div>
    </div>
    <div>
        <div>
            <div>
                <img src="https://kinogo.biz/templates/kinogo/images/category/komedii.jpg">
                <span>
                    Комедия – один из самых популярных жанров в кино, который пользуется одинаковым успехом и у взрослой, 
                    и у подростковой аудитории. Главной целью кинокомедий является поднятие настроение у зрителя. 
                    Хорошая комедия должна вызывать улыбку, очень хорошая – обязательно рассмешит. 
                    Фактически кинокомедия как жанр стала развиваться одновременно с появлением кинематографа, а 
                    первым комедийным короткометражным фильмом стала одноминутная картина 
                    «Политый поливальщик» Луи Люмьера, где озорной мальчуган, наступив ногой на водопроводный шлаг, 
                    обрызгал водой незадачливого садовника. С тех пор жанр постоянно развивался, подарив кинематографу множество именитых 
                    комедийных актеров и постановщиков. В жанре «комедия» работали знаменитые Чарли Чаплин и Бастер Китон, 
                    великий Федерико Феллини и мастер социальной трагикомедии Вуди Аллен – перечислить всех талантливых режиссеров просто не хватит времени!
                </span>
            </div>
            <div>
                
            </div>
        </div>
        
        <div>
            <span>
                В нашем кинотеатре можно смотреть комедии онлайн, это экономит не только время (не нужно загружать фильм себе на компьютер), 
                но и деньги (тратиться на поход в кино совсем не обязательно). Все фильмы можно смотреть абсолютно бесплатно и без регистрации.
                 Для выбора картины воспользуйтесь удобной поисковой строкой или просто зайдите в соответствующий раздел. 
                 У нас вы найдете молодежные комедии и пародии, музыкальные комедии и ситкомы, 
                 социальные и эксцентрические комедии, трагикомедии и ромкомы и еще много всего другого. 
                 Предлагаем вашему вниманию лучшие советские кинокомедии Леонида Гайдая, Эльдара Рязанова и других великих режиссеров. 
                 У нас вы можете посмотреть как итальянские комедии с Адриано Челентано, так и 
                французские приключенческие комедии со всеми любимым Луи де Фюнесом. Как американские комедии 2017 года, 
                так и лучшие европейские комедийные картины.
            </span>
        </div>
        <div>
            <span>
                Собирайтесь с друзьями, всей семьей и проводите время за просмотром только хороших фильмов. Помните, что смех продлевает жизнь, а пару лишних годков, ведь никому не помешают, верно? 
                Только у нас вы увидите лучшие комедии 2020 онлайн, практически сразу после их выхода в широкий прокат!
            </span>
        </div>
    </div>
</div>